lab1/lab1.sim/sim_1/behav/xsim/compile.bat
lab1/lab1.sim/sim_1/behav/xsim/compile.log
lab1/lab1.sim/sim_1/behav/xsim/elaborate.bat
lab1/lab1.sim/sim_1/behav/xsim/elaborate.log
lab1/lab1.sim/sim_1/behav/xsim/glbl.v
lab1/lab1.sim/sim_1/behav/xsim/simulate.bat
lab1/lab1.sim/sim_1/behav/xsim/simulate.log
lab1/lab1.sim/sim_1/behav/xsim/testbench_behav.wdb
lab1/lab1.sim/sim_1/behav/xsim/testbench_vlog.prj
lab1/lab1.sim/sim_1/behav/xsim/testbench.tcl
lab1/lab1.sim/sim_1/behav/xsim/vivado_pid2608.str
lab1/lab1.sim/sim_1/behav/xsim/vivado.jou
lab1/lab1.sim/sim_1/behav/xsim/vivado.log
lab1/lab1.sim/sim_1/behav/xsim/xelab.pb
lab1/lab1.sim/sim_1/behav/xsim/xsim.ini
lab1/lab1.sim/sim_1/behav/xsim/xvlog.log
lab1/lab1.sim/sim_1/behav/xsim/xvlog.pb
lab1/lab1.sim/sim_1/behav/xsim/.Xil/Vivado-2608-DESKTOP-JH0OJSQ/.lpr
lab1/lab1.sim/sim_1/behav/xsim/.Xil/Vivado-2608-DESKTOP-JH0OJSQ/elab.rtd
lab1/lab1.sim/sim_1/behav/xsim/.Xil/Vivado-2608-DESKTOP-JH0OJSQ/realtime/adder_display.tcl
lab1/lab1.sim/sim_1/behav/xsim/.Xil/Vivado-2608-DESKTOP-JH0OJSQ/realtime/dupFiles.rpt
lab1/lab1.sim/sim_1/behav/xsim/.Xil/Vivado-2608-DESKTOP-JH0OJSQ/realtime/lcd_module_stub.v
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/Compile_Options.txt
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/TempBreakPointFile.txt
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.dbg
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.mem
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.reloc
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.rlx
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.rtti
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.svtype
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.type
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsim.xdbg
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsimcrash.log
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsimk.exe
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsimkernel.log
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/xsimSettings.ini
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/obj/xsim_0.win64.obj
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/obj/xsim_1.c
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/testbench_behav/obj/xsim_1.win64.obj
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/testbench_behav.wdb/xsimSettings.ini
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/adder.sdb
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/glbl.sdb
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/testbench.sdb
lab1/lab1.sim/sim_1/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
lab1/lab1.runs/.jobs/vrs_config_1.xml
lab1/lab1.runs/.jobs/vrs_config_2.xml
lab1/lab1.runs/.jobs/vrs_config_3.xml
lab1/lab1.runs/.jobs/vrs_config_4.xml
lab1/lab1.runs/.jobs/vrs_config_5.xml
lab1/lab1.runs/.jobs/vrs_config_6.xml
lab1/lab1.runs/.jobs/vrs_config_7.xml
lab1/lab1.runs/.jobs/vrs_config_8.xml
lab1/lab1.runs/.jobs/vrs_config_9.xml
lab1/lab1.runs/.jobs/vrs_config_10.xml
lab1/lab1.runs/.jobs/vrs_config_11.xml
lab1/lab1.runs/impl_1/.init_design.begin.rst
lab1/lab1.runs/impl_1/.init_design.end.rst
lab1/lab1.runs/impl_1/.opt_design.begin.rst
lab1/lab1.runs/impl_1/.opt_design.end.rst
lab1/lab1.runs/impl_1/.phys_opt_design.begin.rst
lab1/lab1.runs/impl_1/.phys_opt_design.end.rst
lab1/lab1.runs/impl_1/.place_design.begin.rst
lab1/lab1.runs/impl_1/.place_design.end.rst
lab1/lab1.runs/impl_1/.route_design.begin.rst
lab1/lab1.runs/impl_1/.route_design.end.rst
lab1/lab1.runs/impl_1/.Vivado_Implementation.queue.rst
lab1/lab1.runs/impl_1/.vivado.begin.rst
lab1/lab1.runs/impl_1/.vivado.end.rst
lab1/lab1.runs/impl_1/.write_bitstream.begin.rst
lab1/lab1.runs/impl_1/.write_bitstream.end.rst
lab1/lab1.runs/impl_1/adder_display_25156.backup.vdi
lab1/lab1.runs/impl_1/adder_display_bus_skew_routed.pb
lab1/lab1.runs/impl_1/adder_display_bus_skew_routed.rpt
lab1/lab1.runs/impl_1/adder_display_bus_skew_routed.rpx
lab1/lab1.runs/impl_1/adder_display_clock_utilization_routed.rpt
lab1/lab1.runs/impl_1/adder_display_control_sets_placed.rpt
lab1/lab1.runs/impl_1/adder_display_drc_opted.pb
lab1/lab1.runs/impl_1/adder_display_drc_opted.rpt
lab1/lab1.runs/impl_1/adder_display_drc_opted.rpx
lab1/lab1.runs/impl_1/adder_display_drc_routed.pb
lab1/lab1.runs/impl_1/adder_display_drc_routed.rpt
lab1/lab1.runs/impl_1/adder_display_drc_routed.rpx
lab1/lab1.runs/impl_1/adder_display_io_placed.rpt
lab1/lab1.runs/impl_1/adder_display_methodology_drc_routed.pb
lab1/lab1.runs/impl_1/adder_display_methodology_drc_routed.rpt
lab1/lab1.runs/impl_1/adder_display_methodology_drc_routed.rpx
lab1/lab1.runs/impl_1/adder_display_opt.dcp
lab1/lab1.runs/impl_1/adder_display_physopt.dcp
lab1/lab1.runs/impl_1/adder_display_placed.dcp
lab1/lab1.runs/impl_1/adder_display_power_routed.rpt
lab1/lab1.runs/impl_1/adder_display_power_routed.rpx
lab1/lab1.runs/impl_1/adder_display_power_summary_routed.pb
lab1/lab1.runs/impl_1/adder_display_route_status.pb
lab1/lab1.runs/impl_1/adder_display_route_status.rpt
lab1/lab1.runs/impl_1/adder_display_routed.dcp
lab1/lab1.runs/impl_1/adder_display_timing_summary_routed.pb
lab1/lab1.runs/impl_1/adder_display_timing_summary_routed.rpt
lab1/lab1.runs/impl_1/adder_display_timing_summary_routed.rpx
lab1/lab1.runs/impl_1/adder_display_utilization_placed.pb
lab1/lab1.runs/impl_1/adder_display_utilization_placed.rpt
lab1/lab1.runs/impl_1/adder_display.bit
lab1/lab1.runs/impl_1/adder_display.tcl
lab1/lab1.runs/impl_1/adder_display.vdi
lab1/lab1.runs/impl_1/clockInfo.txt
lab1/lab1.runs/impl_1/dfx_runtime.txt
lab1/lab1.runs/impl_1/gen_run.xml
lab1/lab1.runs/impl_1/htr.txt
lab1/lab1.runs/impl_1/init_design.pb
lab1/lab1.runs/impl_1/ISEWrap.js
lab1/lab1.runs/impl_1/ISEWrap.sh
lab1/lab1.runs/impl_1/opt_design.pb
lab1/lab1.runs/impl_1/phys_opt_design.pb
lab1/lab1.runs/impl_1/place_design.pb
lab1/lab1.runs/impl_1/project.wdf
lab1/lab1.runs/impl_1/route_design.pb
lab1/lab1.runs/impl_1/rundef.js
lab1/lab1.runs/impl_1/runme.bat
lab1/lab1.runs/impl_1/runme.log
lab1/lab1.runs/impl_1/runme.sh
lab1/lab1.runs/impl_1/vivado_25156.backup.jou
lab1/lab1.runs/impl_1/vivado.jou
lab1/lab1.runs/impl_1/vivado.pb
lab1/lab1.runs/impl_1/write_bitstream.pb
lab1/lab1.runs/synth_1/__synthesis_is_complete__
lab1/lab1.runs/synth_1/.Vivado_Synthesis.queue.rst
lab1/lab1.runs/synth_1/.vivado.begin.rst
lab1/lab1.runs/synth_1/.vivado.end.rst
lab1/lab1.runs/synth_1/adder_display_utilization_synth.pb
lab1/lab1.runs/synth_1/adder_display_utilization_synth.rpt
lab1/lab1.runs/synth_1/adder_display.dcp
lab1/lab1.runs/synth_1/adder_display.tcl
lab1/lab1.runs/synth_1/adder_display.vds
lab1/lab1.runs/synth_1/dfx_runtime.txt
lab1/lab1.runs/synth_1/gen_run.xml
lab1/lab1.runs/synth_1/htr.txt
lab1/lab1.runs/synth_1/incr_synth_reason.pb
lab1/lab1.runs/synth_1/ISEWrap.js
lab1/lab1.runs/synth_1/ISEWrap.sh
lab1/lab1.runs/synth_1/project.wdf
lab1/lab1.runs/synth_1/rundef.js
lab1/lab1.runs/synth_1/runme.bat
lab1/lab1.runs/synth_1/runme.log
lab1/lab1.runs/synth_1/runme.sh
lab1/lab1.runs/synth_1/vivado.jou
lab1/lab1.runs/synth_1/vivado.pb
lab1/lab1.runs/synth_1/.Xil/adder_display_propImpl.xdc
lab1/lab1.ip_user_files/README.txt
lab1/lab1.hw/lab1.lpr
lab1/lab1.cache/sim/ssm.db
lab1/lab1.cache/wt/project.wpc
lab1/lab1.cache/wt/synthesis_details.wdf
lab1/lab1.cache/wt/synthesis.wdf
lab1/lab1.cache/wt/webtalk_pa.xml
lab1/lab1.cache/wt/xsim.wdf
~$引脚对应关系.xlsx
引脚对应关系.xlsx
cpu设计与体系结构实验指导手册v1.0(教师版).pdf
CPU实验平台培训文稿.ppt
cpu实验箱用户使用手册.doc
FPGA-A7-PRJ-UDB_V1.0-引脚坐标参考.pdf
source_code.rar
tmp_test.out
tmp_test.v
assign1/第一次作业_2414015_鲁昕宁.zip
